* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    height: 100vh;
}

.container {
    margin: 20px auto;
    max-width: 1250px;
    height: 20px;
}

.content-imgs {
    width: 100%;
}

img {
    opacity: 0.5;
    margin: 2px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 2px;
    border: solid 3px #000;
    transition: all 0.5s;
}

img:hover {
    opacity: 1;
}